<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>

</head>

<body>
  <header>
    <%- include('../partials/nav', { email: user.email }) %>
  </header>

  <style>
    .column {
  float: left;
  width: 33.33%;
  padding: 5px;

  
}

/* Clear floats after image containers */

.row::after {
  content: "";
  clear: both;
  display: table;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
}

img {
    float: left;
    width:  200px;
    height: 200px;
    object-fit: cover;
}
.inner
{
    display: inline-block;
}

  </style>


  <div class="container1" style="margin-top: 40px;">
    <div class="columns">
      <div class="column is-3 " style="font-family: Verdana, Geneva, Tahoma, sans-serif; text-align: right;">
        <aside class="menu">
          <p class="menu-label" style="margin-top: 4px;">
            Find Pets to Adopt Near You
          </p>
          <ul class="menu-list">
            <li><a>ZIP Code or City</a></li>

          </ul>
        </aside>
      </div>

      <div class="column is-4">
        <div class="mb-6">
          <div class="has-text-weight-bold mb-2">
            Matching Cat List
          </div>
          <form action="/dog-messages" method="post">
            <input class="input" type="text" name="message" placeholder="New York" />
            <button class="button mt-2">Find More</button>
          </form>



          <div class="row">
            <div class="column">
              <img src="https://ny-petrescue.org/files/_cache/f9b137fbc915b64e791757f4fe2b644b.jpg" alt="Snow" style="width:100%">
              
              <p class="title">Coco</p>
              <p>Kitten: 1 Year, Female, Domestic Short Hair</p>
              <h1>10 Miles Away</h1>
              <button class = "inner" style="background-color:#C1A3A3 ; border: none;color: white;">details</button>
            </div>
            <div class="column">
              <img src="https://dl5zpyw5k3jeb.cloudfront.net/photos/pets/54711284/1/?bust=1647983728&width=1080" alt="Forest" style="width:100%">
              <p class="title">Joy</p>
              <p>Adult: 7-10 Years, Male, Domestic Short Hair</p>
              <h1>11 Miles Away</h1>
              <button class = "inner" style="background-color:#C1A3A3 ; border: none;color: white;">details</button>
            </div>
            <div class="column">
              <img src="https://cdn.adopets.com/organization/pet/picture/2022226_17441_1648314281539.jpeg?width=600" alt="Mountains" style="width:100%">
              <p class="title">Max</p>
              <p>Young: 6 Years, Female, Domestic Short Hair</p>
              <h1>8 Miles Away</h1>
              <button class = "inner" style="background-color:#C1A3A3 ; border: none;color: white;">details</button>
            </div>
          </div>

          <div class="row">
            <div class="column">
              <img src="https://prd-use1-shelter-app.s3.amazonaws.com/pets/03-28-2022/ixktdbdlbqajwoiamumaaiafwwwfah.jpg" alt="Snow" style="width:100%">
              <p class="title">Pumpkin</p>
              <p>Young: 1-6 Years, Male, Tabby</p>
              <h1>10 Miles Away</h1>
              <button style="background-color:#C1A3A3 ; border: none;color: white;">details</button>
            </div>
            <div class="column">
              <img src="https://prd-use2-shelter-app.s3.amazonaws.com/pets/03-13-2022/vmxwvqmuunfnqrtvoozkirmbxnsojf.jpg" alt="Forest" style="width:100%">
              <p class="title">Lillie</p>
              <p>Adult: 7-10 Years, Male, Domestic Short Hair</p>
              <h1>10 Miles Away</h1>
              <button style="background-color:#C1A3A3 ; border: none;color: white;">details</button>
            </div>
            <div class="column">
              <img src="https://cdn.adopets.com/organization/pet/picture/20220308_205243_16467727639725.jpeg?width=600" alt="Mountains" style="width:100%">
              <p class="title">Mr. Waffles</p>
              <p>Young: 5 Years, Female, Domestic Short Hair</p>
              <h1>18 Miles Away</h1>
              <button style="background-color:#C1A3A3 ; border: none;color: white;">details</button>
            </div>
          </div>


        <% /* %>
        <div class="feed-stream">
          <%- include('../partials/feed-stream', { feed: feed }) %>
        </div>
        <% */ %>
      </div>
    </div>
  </div>

</body>

<%- include('../partials/footer') %>

</html>