<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<title>Cat Details</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="new.css" type="text/css" />
</head>
<body>
<div id="pseudo-wrap1"></div>
<div id="pseudo-wrap2"></div>
<!-- Begin Wrapper -->
<div id="wrap">
	<!--Begin Header -->
	<div id="header">
		<h1><a href="#" title="Green Zone">Cat Details</a></h1>
		<p>CatWise recommends that you should always take a careful look at this page before you make adoption decisions.</p>
	</div>
	<!--End Header -->
<nav>
<label for="show-menu" class="responsive">&#9776; Menu</label>
<input type="checkbox" id="show-menu" role="button">
		
</nav>
	<!-- Begin Content -->
	<div id="content">
		<div class="post">
		<h2><a title="H2 Headline with link" href="#">Max</a></h2>
		<p>Howdy! My name is Max and am one stinkin’ cute 2-year old dude that comes running to you when you call my name. I am very curious and love being with people (especially when I get to know them). I don’t know what goes on in the shower, but I like to check in there often to try and figure it out!

            I don’t meow but hoot like an owl and make the cutest pip-squeak noises like a baby! I’ve been told it’s really cute.
            
            I love being in the kitchen when someone is cooking and sit right next to their feet. I’m very, very sensitive to certain smells (like cilantro and deodorant). Please wash your hands before petting me after we hang out in the kitchen.
            
            I love pets and snuggles, but can get overstimulated easily; I love it when someone can read my body language and respect my boundaries. Even when I’m overstimulated, I like to stay close and be with my people.
            
            I am such a sweet and loving man that loves to play, eat treats, and look out the window. I need play time everyday and love to play with my mouse and spiral toys. I love to run around chasing my spiral toy, it’s so fun!
            
            I don’t like sharing love and affection with other animals or children and need to always be in a home where I am the only pet. I also don’t like closed doors, and love to know what’s going on in every room.
            
            I am from the streets, but was invited inside because of my loving and cute demeanor. I will be your best friend, protector, and snuggle buddy. I can’t wait to meet you!
            </p>
		</div>
	</div>
	<div style="text-align: center; vertical-align: middle;">
		<img src="https://cdn.adopets.com/organization/pet/picture/2022226_17441_1648314281539.jpeg?width=600" alt="Snow" style="width:50% center">
	</div>
	<div style="text-align: center; vertical-align: middle;">
		<button class="button bt1" style="width: 60px; height: 15px;"><a href="/applicationstatus">Adopt</a></button>
	</div>
	<div style="text-align: center; vertical-align: middle;">
        <button class="button bt1" style="width: 60px; height: 15px;"><a href="/dashboard">Return</a></button>
	</div>
	<!--End Content -->
	<!--Begin Footer -->
	<div id="footer">
	<div class="notice">&copy; Copyright <a title="Your Name and Link" href="#">CatWise</a>. All rights reserved.</div>
	</div>
	<!--End Footer -->
</div>
<!-- End Wrapper -->
<style>

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  background-color:#F3C5C5;
  color:#333;
  font: normal 14px "Open Sans", sans-serif;
  margin:0;
}

h1,h2,h3,p,li {
  text-align:left;	
}

a {
  background-color:inherit;
  color:#333;
  text-decoration:none; 
}

a:hover {
  text-decoration:underline; 
}

.action_btn {
  width: 200px;
  margin: 0 auto;
  display: inline;}

.bt1{
  background-color: #F3C5C5; 
  border: white;
  color: white;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin-top: 10px;
  margin-right: 20px;
}

#pseudo-wrap1 {
background: #F3C5C5;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80bc00', endColorstr='#8fc800',GradientType=0 );
height: 195px;
margin:0;
width:100%;
z-index:-100;
position:absolute;
top:15px; left:0; right:0;
}

#pseudo-wrap2 {
background: #F3C5C5;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#88b503', endColorstr='#000000',GradientType=0 );
height: 190px;
margin:0;
width:100%;
z-index:-100;
position:absolute;
top:211px; left:0; right:0;
}

#wrap {
  width:80%;
  background-color:#fff;
  color:inherit;
  padding:0;
  margin:30px auto 15px auto; 
}

#header {
  background: #968C83;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7fb50c', endColorstr='#568e07',GradientType=0 );
  color:#fff;
  height:200px;
  border:10px solid #fff;
  border-bottom:1px solid #fff;
}

#header h1 {	
  text-align:center;
  padding:0;
  margin:80px auto 0 auto; 
}

#header a
{	background-color:inherit;
	color:#fff;
	text-decoration:none; }
	
#header p
{	text-align:center;
	margin:0 auto; }

nav {
  text-align:center;
  margin:15px auto;
}
	
ul#menu {
    list-style-type: none;
    margin: 0 auto;
    display: table;
    padding: 0;
    overflow: hidden;
    width:50%;

    }

ul#menu li  
 { 	display: table-cell;
    text-align:center;  }
   
ul#menu li a {
    background-color:inherit;
    color: #000;
    /*display:block;*/
    padding:10px;
    text-decoration:none;
    font-weight:bold;
    margin:0 1px;
}

ul#menu li a:hover,ul#menu li a.current
{	background-color:#fff;
	color:#000;	}
	
/* Content */
#content
{	text-align:left;
	width:90%;
	padding:0 25px 10px 25px;
	margin:0 auto;	}
	
#content h2
{	
	padding:0;
	margin:0 auto; }	

#content h3
{	background-color:inherit;
	color:#690;
	font:bold 12pt Arial,sans-serif;	
	padding:0;	}

#content span.author
{	font:normal 8pt Arial,Helvetica,sans-serif;
	background-color:inherit;
	color:#666;	}

#content span.author a
{	background-color:inherit;
	color:#999;
	text-decoration:none;
	padding:0 3px; }

#content span.author a:hover
{	background-color:#690;
	color:#fff;	}

#content p a
{	background-color:inherit;
	color:#690;
	text-decoration:underline;	} 	
	
#content p
{	text-align:justify;
	line-height:24px; }

#content p.center { text-align: center; }
	
#content li
{	line-height:24px;	}

#content li a
{	background-color:inherit;
	color:#690;
	text-decoration:none;	}

#content li a:hover
{	text-decoration:underline; }

#content ul {
  list-style:none;
  padding:0;
}
	
#content ul li
{	list-style-position:inside;
    text-indent: 0px;
	padding-left:20px;
	margin:0; }	
	
#content ul li:before {
  content: "\27a1 \00a0 \00a0";
  background-color:inherit;
  color:#690;
  font-size:16px;
}

#content .post
{	padding:0 0 20px 0;
	margin:auto;	}

#content img.photo
{
   display: block;
   height:480x;
   width: 720px;
   margin-left: auto;
   margin-right: auto;}

/* Footer */	
#footer {
  background: #D6D2C4;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7fb50c', endColorstr='#568e07',GradientType=0 );
  color:#fff;
  height:40px;
  text-align:center;
  font-size:12px;
  padding:0;
  margin:0 auto;	
  border:10px solid #fff;
}

#footer a
{	background-color:inherit;
	color:#fff;	
	text-decoration:none;	}
	
#footer .notice
{	background-color:inherit;
	color: #eee;
	padding:0;
  line-height:40px;
}

/* Attribution: Under Creative Commons, Attribution should not be removed or hidden */
#attribution {	
  background-color:inherit;
  color:#568e07;
  text-align:center;
  font-size:11px;
  padding:5px 0;
  margin:0 auto;	
}

#attribution a
{	background-color:inherit;
	color:#568e07;
	text-decoration:none;	}
	
#attribution a:hover
{	color:#999;	}

/* Responsive Styles */

#show-menu {display: none;}
.responsive { text-align:left; font-weight:bold; font-size:18px; font-style:underline; padding: 0; display:none; margin-left:20px;}

@media screen and (max-width : 700px){

body { font-size:12px; }
#footer { font-size: 11px; }
#attribution { font-size: 10px; }

ul#menu {display:none;}
.responsive { display:block;}
#show-menu:checked ~ ul#menu {display: block; position: absolute;  width:50%; margin:1% 0 0 -8%; overflow:visible; z-index:100;}
ul#menu li { display: block; text-align:left; margin:0 0 0 20%;}
ul#menu li a { display: block; background-color:#fff;}
ul#menu li a:hover { background-color:#690; color:#fff;}
ul#menu li a.current, ul#menu li a.active:hover {    background-color:#eee;  color: #000;}


</style>
</body>
</html>