<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<title>Cat Details</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="new.css" type="text/css" />
</head>
<body>
<div id="pseudo-wrap1"></div>
<div id="pseudo-wrap2"></div>
<!-- Begin Wrapper -->
<div id="wrap">
	<!--Begin Header -->
	<div id="header">
		<h1><a href="#" title="Green Zone">Cat Details</a></h1>
		<p>CatWise recommends that you should always take a careful look at this page before you make adoption decisions.</p>
	</div>
	<!--End Header -->
<nav>
<label for="show-menu" class="responsive">&#9776; Menu</label>
<input type="checkbox" id="show-menu" role="button">
		
</nav>
	<!-- Begin Content -->
	<div id="content">
		<div class="post">
		<h2><a title="H2 Headline with link" href="#">Pumpkin</a></h2>
		<p>Pumpkin is a 3-year old FIV+ cat. He was found on the streets with a flea collar but an owner couldn't be found. He is very gentle and sweet, as well as independent.

            Many people will immediately say no to an FIV+ cat, which is the reason why Pumpkin is struggling to find a home. New research has shown that FIV-positive cats are in fact very adoptable, and can live the same lifespan as an FIV-negative cat. This research has also debunked the myth that FIV- positive cats cannot safely live with non- infected cats. Please read more here: https://vbspca.com/what-you-should-know-when-adopting-an-fiv-positive-cat/
            
            Pumpkin is being treated for stomatitis, which the vet thinks is caused by FIV. Pumpkin is neutered and up to date on shots.</p>
		</div>
	</div>
	<div style="text-align: center; vertical-align: middle;">
		<img src="https://prd-use1-shelter-app.s3.amazonaws.com/pets/03-28-2022/ixktdbdlbqajwoiamumaaiafwwwfah.jpg" alt="Snow" style="width:50% center">
	</div>
	<div style="text-align: center; vertical-align: middle;">
		<button class="button bt1" style="width: 60px; height: 15px;"><a href="/applicationstatus">Adopt</a></button>
	</div>
	<div style="text-align: center; vertical-align: middle;">
        <button class="button bt1" style="width: 60px; height: 15px;"><a href="/dashboard">Return</a></button>
	</div>
	<!--End Content -->
	<!--Begin Footer -->
	<div id="footer">
	<div class="notice">&copy; Copyright <a title="Your Name and Link" href="#">CatWise</a>. All rights reserved.</div>
	</div>
	<!--End Footer -->
</div>
<!-- End Wrapper -->
<style>

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  background-color:#F3C5C5;
  color:#333;
  font: normal 14px "Open Sans", sans-serif;
  margin:0;
}

h1,h2,h3,p,li {
  text-align:left;	
}

a {
  background-color:inherit;
  color:#333;
  text-decoration:none; 
}

a:hover {
  text-decoration:underline; 
}

.action_btn {
  width: 200px;
  margin: 0 auto;
  display: inline;}

.bt1{
  background-color: #F3C5C5; 
  border: white;
  color: white;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin-top: 10px;
  margin-right: 20px;
}

#pseudo-wrap1 {
background: #F3C5C5;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80bc00', endColorstr='#8fc800',GradientType=0 );
height: 195px;
margin:0;
width:100%;
z-index:-100;
position:absolute;
top:15px; left:0; right:0;
}

#pseudo-wrap2 {
background: #F3C5C5;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#88b503', endColorstr='#000000',GradientType=0 );
height: 190px;
margin:0;
width:100%;
z-index:-100;
position:absolute;
top:211px; left:0; right:0;
}

#wrap {
  width:80%;
  background-color:#fff;
  color:inherit;
  padding:0;
  margin:30px auto 15px auto; 
}

#header {
  background: #968C83;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7fb50c', endColorstr='#568e07',GradientType=0 );
  color:#fff;
  height:200px;
  border:10px solid #fff;
  border-bottom:1px solid #fff;
}

#header h1 {	
  text-align:center;
  padding:0;
  margin:80px auto 0 auto; 
}

#header a
{	background-color:inherit;
	color:#fff;
	text-decoration:none; }
	
#header p
{	text-align:center;
	margin:0 auto; }

nav {
  text-align:center;
  margin:15px auto;
}
	
ul#menu {
    list-style-type: none;
    margin: 0 auto;
    display: table;
    padding: 0;
    overflow: hidden;
    width:50%;

    }

ul#menu li  
 { 	display: table-cell;
    text-align:center;  }
   
ul#menu li a {
    background-color:inherit;
    color: #000;
    /*display:block;*/
    padding:10px;
    text-decoration:none;
    font-weight:bold;
    margin:0 1px;
}

ul#menu li a:hover,ul#menu li a.current
{	background-color:#fff;
	color:#000;	}
	
/* Content */
#content
{	text-align:left;
	width:90%;
	padding:0 25px 10px 25px;
	margin:0 auto;	}
	
#content h2
{	
	padding:0;
	margin:0 auto; }	

#content h3
{	background-color:inherit;
	color:#690;
	font:bold 12pt Arial,sans-serif;	
	padding:0;	}

#content span.author
{	font:normal 8pt Arial,Helvetica,sans-serif;
	background-color:inherit;
	color:#666;	}

#content span.author a
{	background-color:inherit;
	color:#999;
	text-decoration:none;
	padding:0 3px; }

#content span.author a:hover
{	background-color:#690;
	color:#fff;	}

#content p a
{	background-color:inherit;
	color:#690;
	text-decoration:underline;	} 	
	
#content p
{	text-align:justify;
	line-height:24px; }

#content p.center { text-align: center; }
	
#content li
{	line-height:24px;	}

#content li a
{	background-color:inherit;
	color:#690;
	text-decoration:none;	}

#content li a:hover
{	text-decoration:underline; }

#content ul {
  list-style:none;
  padding:0;
}
	
#content ul li
{	list-style-position:inside;
    text-indent: 0px;
	padding-left:20px;
	margin:0; }	
	
#content ul li:before {
  content: "\27a1 \00a0 \00a0";
  background-color:inherit;
  color:#690;
  font-size:16px;
}

#content .post
{	padding:0 0 20px 0;
	margin:auto;	}

#content img.photo
{
   display: block;
   height:480x;
   width: 720px;
   margin-left: auto;
   margin-right: auto;}

/* Footer */	
#footer {
  background: #D6D2C4;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7fb50c', endColorstr='#568e07',GradientType=0 );
  color:#fff;
  height:40px;
  text-align:center;
  font-size:12px;
  padding:0;
  margin:0 auto;	
  border:10px solid #fff;
}

#footer a
{	background-color:inherit;
	color:#fff;	
	text-decoration:none;	}
	
#footer .notice
{	background-color:inherit;
	color: #eee;
	padding:0;
  line-height:40px;
}

/* Attribution: Under Creative Commons, Attribution should not be removed or hidden */
#attribution {	
  background-color:inherit;
  color:#568e07;
  text-align:center;
  font-size:11px;
  padding:5px 0;
  margin:0 auto;	
}

#attribution a
{	background-color:inherit;
	color:#568e07;
	text-decoration:none;	}
	
#attribution a:hover
{	color:#999;	}

/* Responsive Styles */

#show-menu {display: none;}
.responsive { text-align:left; font-weight:bold; font-size:18px; font-style:underline; padding: 0; display:none; margin-left:20px;}

@media screen and (max-width : 700px){

body { font-size:12px; }
#footer { font-size: 11px; }
#attribution { font-size: 10px; }

ul#menu {display:none;}
.responsive { display:block;}
#show-menu:checked ~ ul#menu {display: block; position: absolute;  width:50%; margin:1% 0 0 -8%; overflow:visible; z-index:100;}
ul#menu li { display: block; text-align:left; margin:0 0 0 20%;}
ul#menu li a { display: block; background-color:#fff;}
ul#menu li a:hover { background-color:#690; color:#fff;}
ul#menu li a.current, ul#menu li a.active:hover {    background-color:#eee;  color: #000;}


</style>
</body>
</html>