<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
</head>

<body>
  <header>
    <%- include('../partials/nav') %>
  </header>

  <title> Sign UP Page </title>
  <center><h1>Sign Up</h1></center>
  <div class="container" style="color: #C1A3A3;font-size: 18px;25">
    Sign Up for a new account or <a href="/sign-in">click here to sign in with an existing account</a> 
    <form id="login-form">
      <label style="color: #C1A3A3;">Login</label>
      <input id="login" type="text" name="login" />
      <label style="color: #C1A3A3;">Password</label>
      <input type="password" name="password" />
      <button>Log in</button>
    </form>
    <div id="login-error" style="display: none;">
    </div>

  </div>
  </div>

  <style>   
    Body {  
      font-family: Calibri, Helvetica, sans-serif;  
      background-color:white;  
    }  
    button {   
           background-color: #F3C5C5;   
           width: 100%;  
            color: white;   
            padding: 15px;   
            margin: 10px 0px;   
            border: none;   
            cursor: pointer;   
             }   
     form {   
            border: 3px solid #f1f1f1;   
        }   
     input[type=text], input[type=password] {   
            width: 100%;   
            margin: 8px 0;  
            padding: 12px 20px;   
            display: inline-block;   
            border: 2px solid #F3C5C5;   
            box-sizing: border-box;   
        }  
     button:hover {   
            opacity: 0.7;   
        }   
      h1 {     
            padding: 10px 18px;  
            margin: 10px 5px; 
            color: #C1A3A3; 
            font-size: 25px;
            font-weight: 900;
        }   
            
        
     .container {   
            padding: 25px;   
            background-color: white;  
        }   
    </style>   


</body>

<script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-auth-compat.js"></script>

<script>
  window.onload = () => {
    console.log('Running onload')
    const firebaseConfig = {
      // CS5356 TODO #2
      // Copy your Firebase config here too
      apiKey: "AIzaSyAxWg1IFP2uS5KPHyM7fxb179Mltni4Sgg",
      authDomain: "catwise-6bbf2.firebaseapp.com",
      projectId: "catwise-6bbf2",
      storageBucket: "catwise-6bbf2.appspot.com",
      messagingSenderId: "861554494369",
      appId: "1:861554494369:web:c9126aeaa42cd099df59e0",
      measurementId: "G-TX81YZKCFB"
    };

    const app = firebase.initializeApp(firebaseConfig);

    app.auth().setPersistence(firebase.auth.Auth.Persistence.NONE);

    document
      .getElementById("login-form")
      .addEventListener("submit", (event) => {
        event.preventDefault();
        const login = event.target.login.value;
        const password = event.target.password.value;

        // CS5356 TODO #3
        // Create a new user using the Firebase SDK for Web
        // Get the users ID token
        // Start a new session with the users ID token
        // Redirect the user to the /dashboard
        // import { getAuth, createUserWithEmailAndPassword } from "firebase/auth";
        app.auth().createUserWithEmailAndPassword(login, password)
          .then(({user}) => {
            // Signed in
            user.getIdToken().then(idToken => {
              fetch('/sessionLogin',{
                method: 'POST',
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify({idToken})
              }).then(() => {
                window.location.href='/dashboard'
            })

            })
          })
        return false;
      });
  };
</script>

</html>
